/* The alert message box */
.alert {
    top: 50px;
    left: 40%;
    position: absolute;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation-duration: 5s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
}

@keyframes fadeInDown { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    25% {
        opacity: 1;
        transform: none;
    }
    80% {
        transform: none;
        opacity: 1;
    }
    95%{
        transform: translate3d(0px, -200%, 0px);
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0;
        transform: translate3d(0px, -200%, 0px);
    }
}
.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.loading {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
.hide {
    display: none;
}